.span-style{
    font-family:monospace;
    background-color: #4f4742;
    color:white;
}

.div-center{
    position: fixed;
    margin-top: 12%;
    margin-left: 10%;
    opacity: 0.90;
}

.btnstyle{
        width: 140px;
        border-radius: 3px;
        letter-spacing: 1.5px;
}

.heightdiv{
    height:75vh;
}

.img-1 {
    background-image: url(https://www.w3schools.com/w3images/parallax1.jpg);
    height: 500px;
    width: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}


